div {
    display: inline-block;
}
h1{
    
    
    margin-right: 1200px;
}
.green{
    background-color: green;
    
}
.blue{
    background-color: blue;

}
.red{
    background-color: red;
}
.purple{
    background-color: purple;
}
.orange{
    background-color: orange;
}